.home-wrap {
    height: 100vh
}

.video-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 1000px;
    overflow: hidden;
}

video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    transform: translateX(calc((100% - 100vw) / 2));
    /* z-index: -1; */
}